<style>
</style>


<body>

  
  <form>
    <div>
      <label>Título:</label>
      <input type="text" [(ngModel)]="titulo" name="titulo">
    </div>
    <div>
      <label>Autor:</label>
      <input type="text" [(ngModel)]="autor" name="autor">
    </div>
    <div>
      <label>Classificação:</label>
      <input type="number" [(ngModel)]="classificacao" name="classificacao">
    </div>
    <div>
      <label>Resenha:</label>
      <input type="text" [(ngModel)]="resenha" name="resenha">
    </div>
    <div>
      <label>Data:</label>
      <input type="date" [(ngModel)]="dataCadastro" name="dataCadastro">
    </div>
    <button (click)="buttonClick()">
      {{ identify ? 'Salvar' : 'Adicionar'}}
    </button>
  </form>
  <div class="container">
  <table>
    <thead>
      <th>ID</th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Classificação</th>
      <th>Resenha</th>
      <th>Data de cadastro</th>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.identify }}</td>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.classificacao }}</td>
        <td>{{ livro.resenha }}</td>
        <td>{{ livro.dataCadastro }}</td>
        <td> 
          <button (click)="preencherCampos(livro)">Editar</button> 
          <button (click)="deletarLivro(livro.identify!)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <button (click)="nextPage()">Próxima Página</button>
  <button (click)="lastPage()">Página Anterior</button>
</body>
