<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>


<body>
  <table>
    <thead>
      <th>ID</th>
      <th>Titulo</th>
      <th>Autor</th>
      <th>Classificação</th>
      <th>Resenha</th>
      <th>Data de cadastro</th>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.id }}</td>
        <td>{{ livro.titulo }}</td>
        <td>{{ livro.autor }}</td>
        <td>{{ livro.classificacao }}</td>
        <td>{{ livro.resenha }}</td>
        <td>{{ livro.dataCadastro }}</td>
      </tr>

    </tbody>
  </table>
</body>