.container{
        
        border: #000 solid 1px;
        height: 700px;
        width: 1400px;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    
    }

form{
        
        width: 30%; /* Define a largura da tabela */
    }
      table {

        align-items: center;
        text-align: center;
            margin-top: 40px;
          border-collapse: collapse; /* Combina as bordas das células para evitar espaços entre elas */
          width: 80%;
          height: 50%; /* Define a largura da tabela */
        }
    
        th, td {
          border: 1px solid #000; /* Adiciona uma borda de 1 pixel sólido com cor preta */
          padding: 8px; /* Adiciona espaço interno nas células para melhor legibilidade */
          text-align: center; /* Alinha o texto à esquerda nas células */
        }
    
        th {
          background-color: #f2f2f2; /* Define um fundo cinza para as células de cabeçalho */
        }

        .pagination {
            display: flex;
            list-style: none;
        }

        .pagination li {
            margin: 0 5px;
            cursor: pointer;
        }

        .pagination li.active {
            font-weight: bold;
        }
        button{
            align-items: center;
        }
